.App {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.red {
  color: red;
}

.App button {
  padding: 15px;
  background-color: lightgreen;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.App button.Green:hover {
  
}
